<div style="height: 100%;">

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="margin:auto;background:#fff;display:block;" width="800px" height="800px" viewBox="0 0 100 100"
      preserveAspectRatio="xMidYMid">
      <g transform="rotate(0)">
        <circle cx="81.734" cy="74.35" fill="#e15b64" r="3" transform="rotate(359.645 50.001 50.001)">
          <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50"
            times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.923076923076923s" begin="0s">
          </animateTransform>
        </circle>
        <circle cx="74.35" cy="81.734" fill="#f47e60" r="3" transform="rotate(0.029713 50 50)">
          <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50"
            times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.923076923076923s" begin="-0.062s">
          </animateTransform>
        </circle>
        <circle cx="65.307" cy="86.955" fill="#f8b26a" r="3" transform="rotate(0.709931 50 50)">
          <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50"
            times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.923076923076923s" begin="-0.125s">
          </animateTransform>
        </circle>
        <circle cx="55.221" cy="89.658" fill="#abbd81" r="3" transform="rotate(2.48114 50 50)">
          <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50"
            times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.923076923076923s" begin="-0.187s">
          </animateTransform>
        </circle>
        <circle cx="44.779" cy="89.658" fill="#849b87" r="3" transform="rotate(5.47749 50 50)">
          <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50"
            times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.923076923076923s" begin="-0.25s">
          </animateTransform>
        </circle>
        <circle cx="34.693" cy="86.955" fill="#6492ac" r="3" transform="rotate(9.7194 50 50)">
          <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50"
            times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.923076923076923s" begin="-0.312s">
          </animateTransform>
        </circle>
        <circle cx="25.65" cy="81.734" fill="#637cb5" r="3" transform="rotate(15.4855 50 50)">
          <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50"
            times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.923076923076923s" begin="-0.375s">
          </animateTransform>
        </circle>
        <circle cx="18.266" cy="74.35" fill="#6a63b6" r="3" transform="rotate(22.7505 50 50)">
          <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50"
            times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.923076923076923s" begin="-0.437s">
          </animateTransform>
        </circle>
        <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;0 50 50" times="0;1"
          keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.923076923076923s"></animateTransform>
      </g>
    </svg>
  </div>
  